.logo {
    width: 35%;
    height: auto;
}

.smallerLogo {
    width: 9.5%;
    height: auto;
}
.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonContainer {
    font-size: 20px;
    padding-top: 10 px;
  }

  .inputButton {
    font-size: 18px;
    padding: 10px 20px;
  }

  .inputBox {
    font-size: 16px;
  }

  .emptyDiv {
    padding: 10px; /* Adjust the value as needed */
  }

  p {
    font-size: 18px;
  }

  .signupLink p {
    font-size: 0.8em; /* Makes the text smaller */
    margin-top: 10px; /* Adjust as needed for spacing */
}

.signupText {
    color: blue; /* Sets the text color to blue */
    text-decoration: underline; /* Adds underline to the text */
    cursor: pointer; /* Changes cursor to a pointer on hover */
}

.signupText:hover {
    text-decoration: none; /* Optional: Removes underline on hover for effect */
}

.inputContainerSignUp {
  /* Your existing styles... */

  margin-bottom: 15px; /* Adds space below each input container */
  /* You can adjust the value of margin-bottom as per your design needs */
}

.errorLabel {
  color: red; /* Error message color */
  font-size: 0.8em; /* Smaller font size for error message */
  margin-top: 5px; /* Spacing between the link and the error message */
}