.logo {
    width: 35%;
    height: auto;
}

.smallerLogo {
    width: 9.5%;
    height: auto;
}
.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonContainer {
    font-size: 20px;
    padding-top: 10 px;
  }

  .inputButton {
    font-size: 18px;
    padding: 10px 20px;
  }

  .inputBox {
    font-size: 16px;
  }

  .emptyDiv {
    padding: 10px; /* Adjust the value as needed */
  }

  p {
    font-size: 18px;
  }

  .signupLink p {
    font-size: 0.8em; /* Makes the text smaller */
    margin-top: 10px; /* Adjust as needed for spacing */
}

.signupText {
    color: blue; /* Sets the text color to blue */
    text-decoration: underline; /* Adds underline to the text */
    cursor: pointer; /* Changes cursor to a pointer on hover */
}

.signupText:hover {
    text-decoration: none; /* Optional: Removes underline on hover for effect */
}

.inputContainerSignUp {
  /* Your existing styles... */

  margin-bottom: 15px; /* Adds space below each input container */
  /* You can adjust the value of margin-bottom as per your design needs */
}

.errorLabel {
  color: red; /* Error message color */
  font-size: 0.8em; /* Smaller font size for error message */
  margin-top: 5px; /* Spacing between the link and the error message */
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.logoTopLeft {
  width: 225px; /* Adjust as needed */
  height: auto;
}

.textContainer {
  text-align: center; /* Centers the text in the container */
  padding-top: 10px; /* Adds space at the top */
}

.headerTitle {
  display: inline-block; /* Makes the title center-able */
  margin-top: 20px;
  font-size: 24px; /* Adjust as needed */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-left: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* right: 0; */
  left: 62%; /*Center the dropdown content */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(-50%); /* Adjust for the width of the dropdown content */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.editErrorMessage {
  color: red; /* Red text for errors */
  margin: 10px 0; /* Add some spacing */
  text-align: center; /* Center the text */
}

.searchResultsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px; /* Adjust the spacing between items */
}

.videoItem {
  box-sizing: border-box;
}
